<% 
    const body_content = `
        <div class="jumbotron">
            <h1 class="display-4">ยินดีต้อนรับ, ${user.first_name}!</h1>
            <p class="lead">คุณได้เข้าสู่ระบบด้วยสิทธิ์: <strong>${user.role.toUpperCase()}</strong></p>
            <hr class="my-4">
        </div>
    `;
%>
<%- include('partials/layout', { 
    title: 'Dashboard', 
    user: user, 
    body: body_content, 
    script: '' 
}) %>